@model scrum_and_xp.ViewModels.CurrentUsersOnline   

@{
    ViewBag.Title = "Chatters";
}

<h2>Chatters</h2>
@if (HttpRuntime.Cache["LoggedInUsers"] != null)
{

    if (Model.loggedInUsers.Count > 0)
    {
        <div class="ChatBox">
            <ul>
                @foreach (var user in Model.loggedInUsers)
                {
                    <li>
                        @*<div class="r_row">
                            <div class="r_name">@Html.Encode(user)</div>
                        </div>*@
                        @user.FirstName @user.LastName
                    </li>
                }
            </ul>
        </div>
    }
}

@section scripts {

    @*Displays current users online, refreshes every 5 seconds.*@
    <script type="text/javascript">
        $(function () {
            setInterval(loginDisplay, 5000);
        });

        function loginDisplay() {
            $.post("/Account/getLoginUser", null, function (data) {

            });
        }
    </script>
}
