@{
    ViewBag.Title = "Home Page";
}

@if (Request.IsAuthenticated && !User.IsInRole("Users") && !User.IsInRole("Admin"))
{
    <div class="jumbotron">
        <h1>Örebro University</h1>
        <p class="lead">Your Request for Örebro University is pending</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                Here can you post numerous of bloggPosts and chatt with others on the University.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more Friends</h2>
            <p></p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Easily planning partys</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
}
else
{
    <h2>@ViewBag.Auth</h2>
    <div class="jumbotron">
        <h1>ORUs Bloggportal</h1>
        <p class="lead">Welcome to a modern IT solution.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Education</h2>
            <p>
                Do you want to start plugging in? Have you decided what education to apply for? Or do you know you want to plug, but not what? Here you will find what courses you can study with us and what it is like to be a student in Örebro. Welcome here!
            </p>
            <p><a class="btn btn-default" href="https://www.oru.se/utbildning/">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Research</h2>
            <p>Örebro University conducts research in no less than 36 different subjects, spread across the disciplines of the humanities and social sciences, medicine and health as well as science and technology. Here you can easily search among our research environments, groups, projects and topics. You can also learn more about the research at Örebro University by reading our reports and articles or watching our films.</p>
            <p><a class="btn btn-default" href="https://www.oru.se/forskning/">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Cooperation</h2>
            <p>The knowledge that is available at Örebro University is to be disseminated and to benefit society. In the same way, influences and needs from the outside world should be involved in influencing the university's activities and development. Therefore, collaboration with the surrounding community - with you - is one of our most important tasks. Welcome to join us in contributing to a knowledge-based social development.</p>
            <p><a class="btn btn-default" href="https://www.oru.se/samverkan/">Learn more &raquo;</a></p>
        </div>
    </div>
}
