.vs
scrum-and-xp/bin
scrum-and-xp/obj
Shared\ Model/bin
Shared\ Model/obj
scrum-and-xp/App_Data/aspnet-scrum-and-xp-20200408100507.mdf
scrum-and-xp/App_Data/aspnet-scrum-and-xp-20200408100507_log.ldf
