@using scrum_and_xp.Models
@model PostListViewModel
@{
    ViewBag.Title = "InformalPostView";
}

<h2>Informal Posts</h2>

@if (Model != null)
{
    <div class="row">


        @foreach (var post in Model.PostList)
        {


            <div class="jumbotron">
                <div style="width: 60%; height: 60%;">

                    <div class="caption">
                        <h2>@post.Title</h2>
                        <p>@post.Content</p>
                        <br>
                        <h4>Posted:</h4>
                        <p>@post.postTime</p>
                    </div>
                </div>
            </div>
        }
    </div>
    }