@using scrum_and_xp.Models
@model PostListViewModel
@{
    ViewBag.Title = "InformalPostView";
}

<h2>Informal Posts</h2>
@if (Request.IsAuthenticated)
{
    <h1>Blog Poster</h1>
    <div class="container mt-3">
        @foreach (var i in Model.PostList)
        {

            <div class="media border p-3" style="border-style:solid">

                <div class="media-body">
                    <h2 style="text-align:center">@i.Title <small><i>Posted: @i.postTime</i></small></h2>

                    <p style="text-align: center">@i.Content</p>

                </div>
            </div>
        }

    </div>

}
else
{
    <h1>No Posts to show, Log in again to se</h1>
}